* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 70px;
}

.language {
    height: 100%;
    margin-bottom: 40px;
    margin-top: 60px;
    padding-left: 40px;
}

.info {
    margin-bottom: 30px;
    margin-top: 40px;
    padding-left: 40px;
    display: flex;
    gap: 60px;
    font-size: 20px;
}

.contact-info {
    display: flex;
    gap: 60px;
    padding-left: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}

.id-pic {
    background-color: aquamarine;
}

.address {
    display: flex;
    gap: 45px;
    padding-left: 40px;
    font-size: 20px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.appointment {
    display: flex;
    gap: 40px;
    padding-left: 40px;
    font-size: 20px;
    margin-bottom: 40px;
}

button {
    height: 50px;
    align-items: center;
    margin-left: 40px;
    width: 10%;
    background-color: blue;
    color: aliceblue;
}
